:root {
  --background: oklch(0.9940 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.9940 0 0);
  --card-foreground: oklch(0 0 0);
  --primary: oklch(0.6132 0.2294 291.7437);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2940 0.0130 272.9312);
  --secondary-foreground: oklch(0.9551 0 0);
  --muted: oklch(0.2940 0.0130 272.9312);
  --muted-foreground: oklch(0.7058 0 0);
  --border: oklch(0.3289 0.0092 268.3843);
  --radius: 12px;
  --shadow: 0px 2px 3px rgba(0,0,0,0.16);
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 300px;
  font-family: var(--font-sans);
  background: var(--background);
  color: var(--foreground);
}
